.full-page{
    background: #E5E5E5;
    
}
/* header styles-- */
.header-info{
    margin-top: 40px;
    margin-left :40px; ;
    
}
.purchase-button{
    background: #E76F51;
   

   
   
}
.header{
    background: #264653;
   
  

}
/* main styles---- */
.feature-p{
    color: #E76F51;
}
.image-group{
    margin-top: 120px;
}
.main-part{
    background: #FFFFFF;
}

.honda img{
    background-color:brown;
    cursor: pointer;
}
.honda img:hover{
    filter:grayscale(100%);
}
/* happy clients styles-- */
.happy-client{
    margin-top: 160px;
}
.client-image{
    width:120px;
    height:90px ;

    
}

.container h1 span{
    color: #E76F51;
}
.client-detail{
    padding-left:30px
}
.fa-star.filled{
    color: #E77C40;
}
.fa-star{
    color:#E77C40;
}
/* frequent asked question style--- */

.question-container{
    
    padding-top:112px ;
}

   
   

/* media query--- */

  
