.full-page{
    background: #E5E5E5;
}
.header-info{
    margin-top: 50px;
    margin-left :40px; ;
    
}
.purchase-button{
    background: #E76F51;
    padding: 10px;
   
}
.header{
    background: #264653;
   
  

}